server:
  port: 8080

spring:
  application:
    name: bookti
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
  sql:
    init:
      mode: always
  jpa:
    show-sql: false
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format-sql: true
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile

jwt:
  access-token:
    private: "access-refresh-token-keys/access-token-private.key"
    public: "access-refresh-token-keys/access-token-public.key"
  refresh-token:
    private: "access-refresh-token-keys/refresh-token-private.key"
    public: "access-refresh-token-keys/refresh-token-public.key"

cloudinary:
  cloud-name: ${CLOUDINARY_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

application:
  authorized-redirect-uris: https://marketplace-bookti.vercel.app/oauth2/redirect,http://localhost:5173/oauth2/redirect
  permit-all-req:
    - /actuator/**
    - /v2/api-docs/**
    - /v3/api-docs/**
    - /swagger-resources/**
    - /configuration/**
    - /webjars/**
    - /swagger-ui/*
    - /swagger-ui.html
    - /api/v1/authorize/**
    - /oauth2/**
  allowed-origins:
    - https://marketplace-bookti.vercel.app
    - http://localhost:5173

springdoc:
  swagger-ui:
    operationsSorter: method
    tagsSorter: alpha
    disable-swagger-default-url: false

management:
  endpoints:
    web:
      exposure:
        exclude: "*"